<div>
    <label for="regLogin">Логін:</label>
    <input type="text" ng-model="login" class="text-field" id="regLogin" />
    <label for="regPass">Пароль:</label>
    <input type="password" ng-model="password" class="text-field" id="regPass" />
    <label for="regName">Ваше ім'я:</label>
    <input type="text" ng-model="login" class="text-field" id="regName" />
    <label for="regSname">Ваше прізвище:</label>
    <input type="text" ng-model="login" class="text-field" id="regSname" />
    <label for="regDate">Дата народження:</label>
    <input type="text" ng-model="login" class="text-field" id="regDate" />
    <label for="regAbout">Про вас:</label>
    <input type="text" ng-model="login" class="text-field" id="regAbout" />
</div>
